/* imports */
@import "~antd/dist/antd.css";

@font-face {
  font-family: "Gamja Flower";
  src: local("Gamja Flower"),
    url(./assets/fonts/GamjaFlower-Regular.ttf) format("truetype");
}

/* utilities */
* {
  margin: 0;
  padding: 0;
  font-family: Gamja Flower;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* classes */
.navbar {
  text-align: center;
}

.navbar-icon {
  font-size: 20px;
  height: 40px;
}

.navbar-icon svg {
  margin-right: 80px;
  font-size: 30px;
}

.footie-header {
  background-color: transparent;
  font-size: 40px;
}

.page-layout {
  height: 100vh;
  background-color: #ffffff;
}

.gamja-flower-fixed-text {
  font-size: 25px;
}

.townie-title {
  font-size: 80px !important;
}

.onboarding-title {
  font-size: 50px !important;
}

.getting-started-layout {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.getting-started-content {
  align-items: center;
}

.getting-started-tagline {
  font-size: 40px !important;
  font-style: italic;
}

.getting-started-button {
  margin: 10px;
}

.login-modal {
  border: 0px solid transparent;
}

.about-you-header {
  background-color: #ffffff;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.about-you-content {
  padding: 0 50px;
  margin-top: 50px;
}

.confirm-location-content {
  margin-top: 250px;
}

.confirm-location-yes-no {
  margin-left: 80px;
}

.accurate-text {
  font-size: 40px !important;
}

.board-header {
  background-color: #ffffff;
  margin-top: 10px;
}

.city-template {
  max-height: 55vh;
}

.news-post {
  height: 15vh;
  font-size: 25px;
}

.news-post-image {
  height: 40%;
}

.board-post {
  height: 7vh;
  font-size: 20px;
}

.add-board-post-icon-wrapper {
  float: right;
  font-size: 30px;
}

.board-post-disclaimer {
  border: 2px solid black;
}
